#container {
    width: 50%;
    border-radius: 5px;
    padding: 10px;
    background-color: aquamarine;
    margin: 10% auto;
    text-align: center;
}

#letters a{
    color: grey;
    background-color: bisque;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
}

#letters a:hover{
    color: red;
}

#letters a .d{
    color: yellowgreen;
    text-decoration: underline;
}